<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Parameters Suite">
   <listeners>
        <listener class-name = "QKART_TESTNG.ListenersClass"></listener>
   </listeners>
   <test name="Qkart Application with TestNG TestCases">
   <parameter name="Xtend" value="Xtend Smart Watch" />
   <parameter name="Yarine" value="Yarine Floor Lamp" />
   <parameter name="Stylecon" value="Stylecon 9 Seater RHS Sofa Set" />
   <parameter name="YONEX" value="YONEX Smash Badminton Racquet" />
   <parameter name="Tan" value="Tan Leatherette Weekender Duffle" />
      <groups>
         <run>
            <include name = "Regression_Test"></include>
            <include name = "Sanity_test"></include>
         </run>
      </groups>
      <classes>
         <class name="QKART_TESTNG.QKART_Tests"/>
         <!-- <methods>
            <include name="TestCase07" />
         </methods> -->
      </classes>
   </test>
</suite>